body {
    background-color: lightgray;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

article {
    background-color: lightgray;
    display: flex;
    align-content: center;
    flex: 1;

}

div {
    width: 500px;
    align-content: center;
    margin: auto;
}
p {
    font-size: 20px;
    text-align: justify;
}
nav li {
	display: inline;
    margin: 10%;
    font-size: 20px;
}
footer {
    position: relative;
    top: 250px;
}
nav ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {
  background-color: lightgray;
}