body {
    background-color: white;
}

#logo
	{
		padding: 5em 0em;
		text-align: center;
	}


.logo {
    margin-left: 20px;
    margin-top: 20px;
}

h1 {
	color: black;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

nav {
    margin-top: 20spx;
    position: absolute;
    right: 15px;
    top: 15px;
}

nav li {
	display: inline;
	margin: 10px;
}

nav ul {
	text-align: right;
    margin-right: 100px;
}

section {
	display: flex;
}

article {
	flex: 1;
	margin-left: 150px;
	margin-right: 150px;
	text-align: justify;
	color: lightcyan;

}

a {
	color: aqua;
}

h2 {
	text-align: center;
}



