
body
{
	margin: 0px;
	padding: 0px;
	background: #F38C25;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #000000;
}

#logo 
{
	margin-right: 30px;
}

.container
{
	margin: 0px auto;
	width: 1365px;
}

#header-wrapper
{
	overflow: hidden;
	height: 15vh;
    line-height: 7vh;

}

#menu
{
	width: 80%;
	margin: 0px auto;
}

#menu ul
{
	text-align: center;
}

#menu li
{
	display: inline-block;
}

#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 0.50em;
	padding: 1.5em 1.5em;
	letter-spacing: 0.20em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color: #FFF;
}

#menu .current_page_item a
{
	color: #FFF;
}
#wrapper3
{
	overflow: hidden;
	padding: 6em 0em;
	background: #FFF;
}
#wrapper4
{
	overflow: hidden;
}

#wrapper1
{
 text-align: center;
 height: 13vh;
}


#portfolio .box
{
	text-align: center;
	color: rgba(0,0,0,0.5);
}

#portfolio h3
{
	display: block;
	padding-bottom: 1em;
	text-transform: uppercase;
	font-size: 1em;
	color: rgba(0,0,0,0.6);
}

#portfolio .title
{
	text-align: center;
	height: 13vh;
}

#portfolio .title h2
{
	color: rgba(0,0,0,0.8);
}

.gets,
.gots 
{
color:rgba(0,0,0,0.6) ;
}

.gets,
.gots,
.column1,
.column2,
.column3,
.column0
{
	width: 282px;
	float: left;
	background-color: #ffffff8c;
	border-radius: 0.5em;
	padding: 0.5% 1.5% 1.5% 1.5%;
}



.column1,
.column2,
.column3
{
	float: left;
	margin-right: 24px;
}

.column0
{
	float: right;
}

.row {
	margin-top: 15%;
}
	
img 
{
	left: 11%;
    top: 6.5%;
    position: absolute;
}
	
.moreinfo {
	text-decoration: none;
	color: #565656;
}

.description {
	height: 50px;
}

main {
	background-image: url("/static/images/city.jpg");
	background-repeat: no-repeat;
	height: 70vh;
}

#test {
	color: white;
}

#menu #categories {
	background-color: #ffffff;
    color: #394a58;
	border-radius: 2em;
	padding: 0% 6%;
}

.centertext
{
	text-align: center;
}

h1 {
	color: black;
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

section {
	display: flex;
}

article {
	flex: 1;
	margin-left: 150px;
	margin-right: 150px;
	text-align: justify;
	color: lightcyan;
	margin-top: 15%
}


h2 {
	text-align: center;
}