<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about_us.css') }}">
</head>
<body>
    <img class="logo" src="static\images\logoplatremovebg.png" alt="logo" width="200" height="50">
    
    <h1>Meet Our Team</h1>
    <div>
        <article>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates sed reiciendis nihil. Ea quas veritatis necessitatibus placeat eveniet doloribus, aliquam magnam libero nisi tempora porro voluptatibus quaerat iusto officiis? Quae.
            </p>
        </article>
    </div>
 <footer>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/categories">Categories</a>
            </li>
            <li>
                <a href="/profile">profile</a>
            </li>
            <li>
                <a href="/about_us">About us</a>
            </li>
        </ul>
    </nav>  
 </footer>
    
</body>
</html>