<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
    <div id="header-wrapper">
        <div id="header" class="container">
            
            <div id="menu">
                <ul>
                    <li id="logo">
                        <img src="/static/images/logoplatremovebg.png" alt="logo" width="150px">
                    </li>
                    <li class="current_page_item"><a href="/" accesskey="1" title="">Homepage</a></li>
                    <li><a href="/categories" accesskey="2" title="">Categories</a></li>
                    <li><a href="#" accesskey="3" title="">About Us</a></li>
                    {% if google_user.is_authenticated %}
                    <li>
                        <a href="/profile">Profile</a>
                    </li>
                    <li>
                        <a class="button" href="/logout" accesskey="4">Logout</a>
                    </li>
                    
                    {% else %}
                        <li>
                            <a class="button" href="/login" accesskey="5">Google Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <main>
        <section class="mainsection">
            <article class="gets">
                <h2 class="title">Meet Our Team</h2>
                <p class="teamtext">
                    We are a team of developers whose goal is to help people during this time of crisis. People who aren't able or allowed to go outside or people who just don't have any time such as doctors, nurses and so on. These people have needs whether it's an important need like food or water or less important ones. If you're just sitting at home all day and don't know what to do. Why not join our cause?
                </p>
                <p>
                    
                </p>
            
            </article>

        </section> 
        
    </main>

  <footer class="foot">
    Contact us at: <span class="e_mail">@something.com</span> 
  </footer> 
    
</body>
</html>