<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>Add Categorie</title>
</head>
<body>
    <div id="header-wrapper">
        <div id="header" class="container">
            
            <div id="menu">
                <ul>
                    <li id="logo">
                        <img src="/static/images/logoplatremovebg.png" alt="logo" width="150px">
                    </li>
                    <li class="current_page_item"><a href="/" accesskey="1" title="">Homepage</a></li>
                    <li><a id="currenttab" href="/categories" accesskey="2" title="">Categories</a></li>
                    <li><a href="#" accesskey="3" title="">About Us</a></li>
                    {% if google_user.is_authenticated %}
                    <li>
                        <a href="/profile">Profile</a>
                    </li>
                    <li>
                        <a class="button" href="/logout" accesskey="4">Logout</a>
                    </li>
                    
                    {% else %}
                        <li>
                            <a class="button" href="/login" accesskey="5">Google Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <main>
        <section>
     
        </section> 
    </main>

</body>
</html>