<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/categories.css') }}">
    <link rel="stylesheet" href="/flaskapp/static/styles/categories.css">
    <title>Categories</title>
</head>
<body>

    <div id="logo">
        <img src="/static/images/logobackgroundrem.png" alt="logo" width="100" height="100" >
    </div>
    
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="/" accesskey="1" title="">Homepage</a></li>
                    <li><a href="/categories" accesskey="2" title="">Categories</a></li>
                    <li><a href="#" accesskey="3" title="">About Us</a></li>
                    <li><a href="/profile" accesskey="4" title="">My Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
<div id="wrapper3">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>Categories</h2>
            <span class="byline">Verschillende opties</span> 
        </div>
		<div class="column1">
			<div class="box"> <a href="#"><img src="images/scr01.jpg" alt="" class="image image-full" /></a>
				<h3>Vestibulum venenatis</h3>
				<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
		<div class="column2">
			<div class="box"> <a href="#"><img src="images/scr02.jpg" alt="" class="image image-full" /></a>
				<h3>Praesent scelerisque</h3>
				<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
		<div class="column3">
			<div class="box"> <a href="#"><img src="images/scr03.jpg" alt="" class="image image-full" /></a>
				<h3>Donec dictum metus</h3>
				<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
		<div class="column4">
			<div class="box"> <a href="#"><img src="images/scr04.jpg" alt="" class="image image-full" /></a>
				<h3>Mauris vulputate dolor</h3>
				<p>Rutrum fermentum nibh in augue praesent urna congue rutrum.</p>
				<a href="#" class="button button-small">Etiam posuere</a> </div>
		</div>
	</div>
</div>

    <div>
        {% for categorie in categories %}
           <!-- <p>Score: {{ categorie["id"] }}</p> -->
           <p>{{ categorie["name"] }}</p>
           <p>{{ categorie["description"] }}</p> 
       {% endfor %}
   </div>
</body>
</html>