<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ text }}</title>
</head>
<body>
    
    <div id="header-wrapper">
        <div id="header" class="container">
            
            <div id="menu">
                <ul>
                    <li id="logo">
                        <img src="/static/images/logoplatremovebg.png" alt="logo" width="150px">
                    </li>
                    <li><a href="/" accesskey="1" title="">Homepage</a></li>
                    <li><a id="currenttab" href="/categories" accesskey="2" title="">Categories - {{ text }}</a></li>
                    <li><a href="/about_us" accesskey="3" title="">About Us</a></li>
                    {% if google_user.is_authenticated %}
                    <li>
                        <a href="/profile">Profile</a>
                    </li>
                    <li>
                        <a class="button" href="/logout" accesskey="4">Logout</a>
                    </li>
                    
                    {% else %}
                        <li>
                            <a class="button" href="/login" accesskey="5">Google Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <main>
        <section class="category_details">
            
            {% for user in data %}
            <div>
                <img class="profile_pic" src="{{ data[user][7] }}" alt="Google profile pic {{ data[user][5] }}" width="150px" >  </img>
                <div class="user">
                    <p>Name: {{ data[user][5] }}</p>
                    <p>Location: {{ data[user][2] }}</p>
                    <p>Email: {{ data[user][6] }}</p>
                    <p>Tel: {{ data[user][3] }}</p>
                    <p>Average rating:
                        {% if data[user][4] != -1 %}
                            {% for i in range(data[user][4]) %}
                            <span class="fa fa-star checked"></span>
                            {% endfor %}
                            {% for i in range(5 - data[user][4]) %}
                            <span class="fa fa-star"></span>
                            {% endfor %}
                        {% else %}
                            user has no ratings yet
                        {% endif %}
                    </p>
                </div>
            </div>
                
            {% endfor %}

        </section> 
    </main>



</body>
</html>