<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Uber Needs</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

</head>
    
<body>
    <div id="header-wrapper">
        <div id="header" class="container">
            
            <div id="menu">
                <ul>
                    <li id="logo">
                        <img src="/static/images/logoplatremovebg.png" alt="logo" width="150px">
                    </li>
                    <li class="current_page_item"><a id="currenttab" href="/" accesskey="1" title="">Homepage</a></li>
                    <li><a href="/categories" accesskey="2" title="">Categories</a></li>
                    <li><a href="/about_us" accesskey="3" title="">About Us</a></li>
                    {% if google_user.is_authenticated %}
                    <li>
                        <a href="/profile">Profile</a>
                    </li>
                    <li>
                        <a class="button" href="/logout" accesskey="4">Logout</a>
                    </li>
                    
                    {% else %}
                        <li>
                            <a class="button" href="/login" accesskey="5">Google Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <main >
        <section >
            <article class="gets">
                <h2>Helpers</h2>
                <p class="p1">
                    Are you bored? Do you have a lot of spare time during the quarantine? Then we got a solution for you. You can help your fellow people in need. You can sign up, select one of our categories and make yourself available to be contacted by people who need your help. 
                </p>

            </article>
    
            <article class="gots">                
                <h2>People in need</h2>   
                <p class="p2">
                    Are you unable to go outside during the quarantine? Do you have no time to go shop for food, take care of the childeren, mow the lawn etc. Well look no further. On this site you can connect with people who are willing to help you during the quarantine. Just go to the categories tab and select where you can use the help, then you'll get a list of our volunteers.
                </p>
            </article>
     
        </section> 
    </main>
</body>
</html>