<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber Needs Homepage</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Homepage.css') }}">
</head>
<body>
    <h1>Uber Needs</h1>
    <nav>
        <ul>
            <li>
                <a href="http://127.0.0.1:8008/">Home</a>
            </li>
            <li>
                <a href="">Login</a>
            </li>
        </ul>
    </nav>  
</body>
</html>