<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber Needs Homepage</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepage.css') }}">

    </style>
</head>
<body background="static\images\city.jpg">
    <img class="logo" src="static\images\logobackgroundrem.png" alt="logo" width="100" height="100">
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/categories">Categories</a>
                </li>
                <li>
                    <a href="/profile">profile</a>
                </li>
                <li>
                    <a href="">About us</a>
                </li>
            </ul>
        </nav>  
    </header>
    <h1>Uber Needs</h1>
    
                    
    <section>
        <article class="gets">
            <h2>Helpers</h2>
            <p class="p1">
                Are you bored? Do you have a lot of spare time during the quarantine? Then we got a solution for you. You can help your fellow people with their needs. What kind of needs do they have? There are quite a bit whether it's something simple like getting groceries or something a bit more complicated like babysitting.
            </p>
        </article>

        <article class="gots">                
            <h2>People in need</h2>   
            <p class="p2">
                Are you unable to go outside during the quarantine? Do you have no time to go shop for food, paint your house, mow the lawn etc. Well look no further On this site you can connect to people who are willing to help you during this time of need for a small compensation and perhaps even for free.
            </p>
        </article>
 
    </section>
    
   
</body>
</html>