<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{username}</title>
</head>
<body>
    <a href="/homepage">home</a>
    <h2>{{username}}</h2> 
    <h3>{{Firstname}} {{Lastname}}</h3>
    <h3>Bio</h3>
    <div>{{biotext}}</div>
    <h3>Reviews</h3>
    <h4>Average rating: {{avgscore}}/5</h4>
    
    <div>
         {% for review in reviews %}
            <p>Score: {{ review["score"] }}</p>
            <p>{{ review["comment"] }}</p> 
            
        {% endfor %}
    </div>
   
    
    </body>
</html>