<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>Profile</title>
</head>
<body>

    <div id="header-wrapper">
        <div id="header" class="container">
            
            <div id="menu">
                <ul>
                    <li id="logo">
                        <img src="/static/images/logoplatremovebg.png" alt="logo" width="150px">
                    </li>
                    <li class="current_page_item"><a href="/" accesskey="1" title="">Homepage</a></li>
                    <li><a href="/categories" accesskey="2" title="">Categories</a></li>
                    <li><a href="/about_us" accesskey="3" title="">About Us</a></li>
                    {% if google_user.is_authenticated %}
                    <li>
                        <a href="/profile" id="currenttab">Profile</a>
                    </li>
                    <li>
                        <a class="button" href="/logout" accesskey="4">Logout</a>
                    </li>
                    
                    {% else %}
                        <li>
                            <a class="button" href="/login" accesskey="5">Google Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <main >
        <section >
            {% if google_user.is_authenticated %}
            <div class="user_profile user_same">
                
                <h2>{{ google_user.name }}</h2> 
                <img src="{{ google_user.profile_pic }}" alt="Google profile pic" width="150px" ></img>
                
                
            </div>
            <div class="user_details user_same">

                <p>e-mailadres: {{ google_user.email }}</p>
                
                <form action="/save_user" method="POST">
                    <label for="tel">Tel:</label>
                    <input type="text" id="tel" name="tel" value="{{ user_info[2] }}">

                    <label for="postalcode">Postal:</label>
                    <input type="number" id="postalcode" name="postalcode" value="{{ user_info[0] }}">

                    <label for="city">City:</label>
                    <input type="text" id="city" name="city" value="{{ user_info[1] }}">

                    {% for service in services %}
                        <input type="checkbox" id="{{ service }}" name="service" value="{{ services_id[loop.index-1] }}" {{ checked_services[service] }}>
                        <label for="{{ service }}">{{ service }}</label>
                    {% endfor %}

                    <input type="submit" value="Save">
                </form>

            </div>
            {% endif %}
        <section >
    <main >
                  
    </body>
</html>